{% extends "members/layout.html" %}

  {% block content %}
      {% if request.user.is_authenticated %}
        <div class="container">
          <h1>Welcome {{ request.user.username }} !</h1>
          <hr>
          <h2>Personal info</h2>
          <ul>
            <li>User name: {{ request.user.username }}</li>
            <li>Fist name: {{ request.user.first_name }}</li>
            <li>Last name: {{ request.user.last_name }}</li>
            <li>e-mail: {{ request.user.email_address }}</li>
          </ul>
          <hr>
          <h2>Availability for courses</h2>

          <hr>
          <h2>Availability for writing</h2>

          <hr>
          <h2>Availability for reviewing</h2>

          <hr>
          <a class="btn btn-info" href="{% url 'logout' %}">Logout</a>
        </div>
      {% else %}
        <div class="container">
          <h1>Welcome!</h1>
          <a class="btn btn-info" href="{% url 'login' %}">Login</a>
          <a class="btn btn-info" href="{% url 'signup' %}">Signup</a>
        </div>
      {% endif %}
  {% endblock %}
